/* General page styles */
body {
    background: #ededed url(images/body-bg-white.png) fixed repeat 20% top;
    color: #ededed;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body > div {
    background: #191919 url(images/content-bg-charcoal.png) repeat 20% top;
    -webkit-border-image: url(images/content-border-projects.png) 3 3 3 3 repeat;
}

#controls {
    background: transparent url(images/projects-section-divider.png) repeat-x left top;
    margin: 0 auto;
    padding: 1em 0 1em 0;
    text-align: center;
    width: 500px;
}

button {
    background-color: #e2e2e2;
    border: 0px;
    border-bottom: 1px solid #525252;
    border-radius: 16px;
    box-shadow: #000 0 2px 1px, inset #a2a2a2 0 -4px 2px;
    color: #353535;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    padding: 0.2em 1.5em;
}

button:hover {
    background-color: #fff;
}

button.hide {
    display: none;
}

em {
    color: #484848;
    display: block;
    margin: 2em auto 0 auto;
    width: 70%;
}

p {
    color: #191919;
    font-family: 'chaparral-pro', times, serif;
    font-size: 1.1em;
    line-height: 1.7;
    margin: 0.4em auto;
    opacity: 0.05;
    padding: 1em 0 1em 0;
    width: 345px;
    -webkit-transition: opacity 0.4s;
}

p:hover {
    opacity: 1;
}

p.show {
    opacity: 1;
}

a {
    color: #ff00ae;
    display: inline-block;
}

a:first-of-type {
    margin-top: 0.6em;
}

[role='contentinfo'] {
    background: transparent url(images/footer-border-charcoal-white.png) repeat-x 20% top;
    padding: 0.9em 0 0.5em 0;
}